#container{
    height: 600px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;  /*column,row-reverse,column-reverse*/
    justify-content: flex-start; /*flex-start,flex-end,center,space-around,space-between,space-evenly*/
    flex-wrap: wrap; 
    /* align-items: baseline; */
    /* align-items: center; */
    align-content: flex-start;
}
#org{
    align-self: baseline;
    /* flex-basis: 50px; */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    flex: 2 2 100px;
}
#blue{
    /* flex-basis: 600px; */
    /* flex-grow: 2; */
    /* min-width: 400px; */
    flex-shrink: 1;
}
h1{
    text-align: center;
}
#container div{
    height:100px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}