h2{
    color:rgb(255, 165, 0); /*  RGB (color system)*/
}
p{
    color:white;
    background-color:black; /* Named colors */
}
button{
    color:white;
    background-color:#00f;  /* Hexadecimal (color system) */
}
